@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/*   reset css start */
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

/*   reset css end */
body {
  font-family: "Open Sans", sans-serif;
}
header {
  width: 100%;
  float: left;
  display: block;
}
.header-section {
  width: calc(100% - 76px);
  height: 837px;
  background: #fff8f3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;
  padding-top: 38px;
  padding-left: 38px;
  padding-right: 38px;
}
header .left-dev {
  width: 101px;
}
header .right-content {
  width: calc(100% - 132px);
}
header .right-content .logo-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
header .right-content .logo-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
header .right-content .logo-nav .logo {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

header .right-content .logo-nav span {
  color: #fd6e0a;
}
.logo-nav .top-menu {
  width: calc(100% - 200px);
}
.top-menu nav .primary-nav {
  display: flex;
  justify-content: end;
  align-items: center;
}
.top-menu nav .primary-nav li {
}
.top-menu nav .primary-nav li a {
  padding: 15px 20px;
}
.top-menu nav .primary-nav li a:hover {
}
.top-menu nav .primary-nav li a.btn {
  height: 64px;
  background-color: #fd6e0a;
  display: flex;
  width: 150px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: #fff8f3;
}
