@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/*   reset css start */
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

/*   reset css end */
body {
  font-family: "Open Sans", sans-serif;
}
header {
  width: 100%;
  float: left;
  display: block;
}
.header-section {
  width: calc(100% - 76px);
  height: 837px;
  background: #fff8f3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;
  padding-top: 38px;
  padding-left: 38px;
  padding-right: 38px;
  background-image: url("/assets/images/circle-bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}
header .left-dev {
  width: 101px;
}
header .right-content {
  width: calc(100% - 132px);
}
header .right-content .logo-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
header .right-content .logo-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
header .right-content .logo-nav .logo {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

header .right-content .logo-nav span {
  color: #fd6e0a;
}
.logo-nav .top-menu {
  width: calc(100% - 200px);
}
.top-menu nav .primary-nav {
  display: flex;
  justify-content: end;
  align-items: center;
}
.top-menu nav .primary-nav li {
}
.top-menu nav .primary-nav li a {
  padding: 15px 20px;
}
.top-menu nav .primary-nav li a:hover {
}
.top-menu nav .primary-nav li a.btn {
  height: 64px;
  background-color: #fd6e0a;
  display: flex;
  width: 150px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: #fff8f3;
}
.banner-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 67px;
}
.header-btn-group {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}
.banner-text-content a.btn {
  padding: 10px;
  border: 1px solid #fd6e0a;
  width: 48%;
  font-size: 24px;
  font-weight: 700;
  color: #fd6e0a;
  border-radius: 5px;
}
.banner-text-content .btn-fill {
  background-color: #fd6e0a;
  color: #fff8f3 !important;
}
.banner-text-content a.btn img {
  width: 20px;
  padding-right: 15px;
}
.banner-text-content,
.banner-image-content {
  width: 48%;
}
.banner-image-content img {
}
section.container {
  width: 100%;
  display: block;
  float: left;
  margin-top: 131px;
}
.about-section {
  width: 1170px;
  padding: 131px;
  background-color: #fff8f3;
  border-radius: 10px;
  margin: 0px auto;
  text-align: center;
}
.about-contact {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.section-title {
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 30px;
}

.what-ido {
  width: 1170px;
  padding-left: 131px;
  padding-right: 131px;
  padding-bottom: 131px;
  margin: 0px auto;
  text-align: center;
}
